{%- capture marker -%}
{%- render 'svg-markers' with style -%}|
{%- endcapture -%}
{%- capture span_start -%}
<span class="animated-marker" style="--marker-color: {{ color | default: '#FD6262' }}">
{%- endcapture -%}
{{ heading | replace_first: '|', span_start | replace: '|', marker | replace: '|', '</span>' }}
