<style>
	.features li {
	  margin-bottom: 15px;
	  padding: 10px 10px 10px 30px;
	  list-style: none;
	  margin: 0;
	  vertical-align: middle;
	  font-size: 1rem;
	}
	.features ul {
		margin-left: 0px;
	}
	.xtrallux-features ul li {
	  background: url("https://cdn.shopify.com/s/files/1/0611/9410/9168/files/circle-check-small.svg?v=1705365639")
		no-repeat left center;
	}
	.others-features ul li {
	  background: url("https://cdn.shopify.com/s/files/1/0611/9410/9168/files/circle-xmark.svg?v=1705365564")
		no-repeat left center;
		font-size: 0.9rem;
		color: #424242;
	}
	.features {
	  padding: 25px !important;
	  border-radius: 15px;
	  border: 1px solid #e1e1e1;
	}
	.others-features {
	  margin-top: 15px;
	  margin-bottom: 15px;
	  border-top-left-radius: 0px;
	  border-bottom-left-radius: 0px;
	  border-left: none;
	  background-color: #fafafa;
	}
</style>
<div class="row comparison">
	<div class="small-6 medium-6 columns xtrallux-features features">
		<div class="h2 xtrallux-header xl-accent">Xtrallux</div>
		<ul class="xtrallux-features-ul">
			<li class="xtrallux-features-li">All Laser Technology</li>
			<li class="xtrallux-features-li">Excellent Cost Per Laser</li>
			<li class="xtrallux-features-li">Most lasers</li>
			<li class="xtrallux-features-li">Accessories Included</li>
			<li class="xtrallux-features-li">USA-Based Company</li>
			<li class="xtrallux-features-li">Private and Secure</li>
<li class="xtrallux-features-li">Free Shipping</li>
			<li class="xtrallux-features-li">Always in Stock</li>
		</ul>
	</div>
	<div class="small-6 medium-6 columns others-features features">
		<div class="h3 others-header">Other Brands</div>
		<ul class="others-features-ul">
			<li class="others-features-li">Laser + LEDs</li>
			<li class="others-features-li">Expensive</li>
			<li class="others-features-li">Low Laser Count</li>
			<li class="others-features-li">Accessories Cost Extra</li>
			<li class="others-features-li">Made in China</li>
			<li class="others-features-li">Privacy Concerns</li>
<li class="others-features-li">Shipping Cost Extra</li>
			<li class="others-features-li">Extended Shipping Times</li>
		</ul>
	</div>
</div>