<style>
	.coverage-text {
		font-size: 0.8em;
	}
	.coverage-container a {
		text-decoration: none;
		border-bottom:none;
	}
	.coverage-content img {
		padding-bottom: 10px;
	}
	@media only screen and (max-width: 768px) {
		.columns {
			margin-bottom: 15px;
		}
		.coverage-content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		.coverage-content img {
			padding-right: 15px;
			padding-block: 25px;
		}
	}
</style>
<div class="row coverage-container" style="text-align: center;">
	<div class="small-12 large-4 medium-4 columns">
		<a href="#xtrallux-hair-regrowth-laser-cap">
			<div class="coverage-content">
				<img src="https://cdn.shopify.com/s/files/1/0611/9410/9168/files/alpha_coverage.svg?v=1708293647" alt="Alphay Coverage"/><br>
				<div class="coverage-text">
					<b>Alpha | 136 Lasers</b><br>Xtra Density
				</div>
			</div>
		</a>
	</div>
	<div class="small-12 large-4 medium-4 columns">
		<a href="#1-xtrallux-hair-regrowth-laser-cap">
			<div class="coverage-content">
				<img src="https://cdn.shopify.com/s/files/1/0611/9410/9168/files/superplus_coverage.svg?v=1708293647" alt="Super Plus Coverage"/><br>
				<div class="coverage-text">
					<b>Super Plus | 276 Lasers</b><br>Greater Density
				</div>
			</div>
		</a>
	</div>
	<div class="small-12 large-4 medium-4 columns columns">
		<a href="#xtrallux-turbo-pro-hair-regrowth-laser-cap">
			<div class="coverage-content">
				<img src="https://cdn.shopify.com/s/files/1/0611/9410/9168/files/turbopro_coverage.svg?v=1708293647" alt="Turbo Pro Coverage"/><br>
				<div class="coverage-text">
					<b>Turbo Pro | 316 Lasers</b><br>Maximum Density OTC
				</div>
			</div>
		</a>
	</div>
</div>