{%- comment -%}V4.6.0 - November 2022
This file is system-genererated by Discount Ninja and should not be modified or stored in a source control system.
Do not modify or remove this snippet, we reserve the right to overwrite it at any moment to add improvements or new features so that customizations you made might be lost.
{%- endcomment -%}

<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-wrapper limoniapps-discountninja-fontsize-base">
	<div style="" onclick="javascript:if (discountNinja) discountNinja.DiscountCode.ToggleLink(this)" class="limoniapps-discountninja-cartdiscountfield-link"><p><span style='font-size: 11px;'>Enter discount code</span></p></div>
	<div style="display:none;" class="limoniapps-discountninja-cartdiscountfield-inner">
		<div style="display:none;" data-limoniapps-discountninja-cartdiscountfield-showdescription="false" class="limoniapps-discountninja-cartdiscountfield-description"><p><span style='font-size: 12px;'>Enter your discount code here</span></p></div>
		<div class="limoniapps-discountninja-cartdiscountfield-inputandbutton">
			<input type="text" class="limoniapps-discountninja-cartdiscountfield-input" value="" autocomplete="off" placeholder="Enter discount code" />
			<button type="button" class="limoniapps-discountninja-cartdiscountfield-apply" value="APPLY">APPLY</button>
		</div>
		<div class="limoniapps-discountninja-cartdiscountfield-discountcodes"></div>
		<div style="display:none;" data-limoniapps-discountninja-cartdiscountfield-showfooter="false" class="limoniapps-discountninja-cartdiscountfield-footer" onmouseover="javascript:if (discountNinja) discountNinja.DiscountCode.ShowFooterInstructions(this)" onmouseout="javascript:if (discountNinja) discountNinja.DiscountCode.HideFooterInstructions(this)">
			<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-footer-onhover"></div>
		</div>
		<div class="limoniapps-discountninja-cartdiscountfield-discountcode-template" style="display:none" >
			<div class="limoniapps-discountninja-cartdiscountfield-discountcode" data-discountcode="[[DISCOUNT_CODE]]">
				<span class="limoniapps-discountninja-cartdiscountfield-discountcode-code">[[DISCOUNT_CODE]]</span>
				<svg onclick="javascript:if (discountNinja) discountNinja.DiscountCode.RemoveTag(this)" class="limoniapps-discountninja-cartdiscountfield-discountcode-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13">
					<path d="M1.5 1.5l10.05 10.05M11.5 1.5L1.45 11.55" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"></path>
				</svg>
			</div>
		</div>
	</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-searching"><p><div class="limoniapps-discountninja-spinner"></div><span> Searching...</span></p></div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-applied"><p><span style='color: rgb(57, 123, 33);'>✔️ </span> </span>Discount code found, it will be applied at checkout.</span></p></div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notapplied"><p><span style='color: rgb(255, 0, 0);'>Discount code cannot be applied to the cart.</span></p></div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notapplied-reason">The discount code cannot be applied to the cart. Please ensure the cart meets the requirements to apply this discount code.</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notfound"><p><span style='color: rgb(255, 0, 0);'>Discount code not found.</span></p></div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notcombinable"><p><span style='color: rgb(255, 0, 0);'>Discount code cannot be combined with the offers applied to the cart.</span></p></div>
</div>