<style>
.trust-hero.customer-reviews--review {
  margin-top: 15px;
}
.trust-hero.customer-reviews--content p {
  font-size: 1rem;
}
.trust-hero-author {
  font-size: 0.9rem;
}
</style>
<div class="trust-hero customer-reviews--review customer-reviews--review--has-bg">
	<div class="customer-reviews--content">
<div class="image-mobile mobile-only">
	<img alt="Xtrallux the most powerful laser cap on the market" src="https://cdn.shopify.com/s/files/1/0611/9410/9168/files/Xtrallux_Turbo_Pro_Hair_Growth_Laser_Cap_Professional_cce46483-8f3b-4f98-b60f-41cde72a6a6e.png?v=1704821341"/>
</div>
<div class="star-rating" style="--star-rating: 5;"></div>
		<p>"This is by far and away the most powerful laser on the market today. The Xtrallux has been our device of choice because of the additional diodes."<br><br>
			
		</p>
<div class="customer-reviews--author">
			<img class="no-blur lazyautosizes ls-is-cached lazyloaded" width="279" height="282" data-sizes="auto" src="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306" data-srcset="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306 64w" alt="" style="object-position: 50.0% 50.0%;" sizes="50px" srcset="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306 64w">

	<span class="trust-hero-author">Dr. Mark Bishara<br><span class="author--title">Hair Transplant Surgeon</span></span>

		</div>
	</div>
</div>
<br>