{{- 'customer-reviews.css' | asset_url | stylesheet_tag -}}
<style>
	.customer-reviews--review--has-bg {
		background-color: #f1f1f1 !important;
		border-radius: 5px !important;		
	}
</style>
		<div class="customer-reviews--review customer-reviews--review--has-bg">
			<div class="customer-reviews--content">
				<div class="star-rating" style="--star-rating: 5;"></div>
				<p>"This is by far and away the most powerful laser on the market today. The Xtrallux has been our device of choice because of the additional diodes."</p>
				<div class="customer-reviews--author">
					<img class="no-blur lazyautosizes ls-is-cached lazyloaded" width="279" height="282" data-sizes="auto" src="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306" data-srcset="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306 64w" alt="" style="object-position: 50.0% 50.0%;" sizes="50px" srcset="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306 64w">
					<noscript>
						<img width="279" height="282" sizes="auto" src="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306" srcset="//xtrallux.com/cdn/shop/files/Mark-Bishara-Headshot_64x64_crop_center.jpg?v=1678976306 64w" alt="" loading="lazy" style="object-position: 50.0% 50.0%;" />
					</noscript>
					<span>Dr. Mark Bishara<br><span class="author--title">Hair Transplant Surgeon</span></span>
	
				</div>
			</div>
		</div>