<div class="row">
<div class="medium-12 small-12 columns">
		<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
		<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
		<div id='timeline-embed' style="width: 100%; height: 600px"></div>
		<script type="text/javascript">
			var additionalOptions = {
				font: '{{ 'font.comercial-inter.css' | asset_url }}'
			}
			timeline = new TL.Timeline('timeline-embed',
			'{{ 'xllux-timeline.json' | asset_url }}', additionalOptions);
		</script>
</div>
</div>